*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);
$Grey-500: hsl(234, 12%, 34%);
$Grey-400: hsl(212, 6%, 44%);
$White: hsl(0, 0%, 100%);

@font-face {
    font-family: 'Poppins';
    src:url('./assets/fonts/Poppins/Poppins-SemiBold.ttf');
    font-style:normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src:url('./assets/fonts/Poppins/Poppins-Regular.ttf');
    font-style:normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src:url('./assets/fonts/Poppins/Poppins-ExtraLight.ttf');
    font-style:normal;
    font-weight: 200;
}




body{
    background-color: $White;
    font-family: 'Poppins', sans-serif;
    color: $Grey-500;
    min-height: 100vh;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        padding: 1.5em ;

        h1{
            span{
                font-weight: 200;
            }
            p{
                font-weight: 600;
                text-align: left;
            }
        }

        p{
            font-weight: 400;
            text-align: center;
        }
    }
}

main{
    width: 100%;
    margin-bottom: 1.5em;
    display: flex;

    .cardContainer{
        width: 100%;
        gap: 2.5em;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4 , 1fr);
        padding: 2em;

        .card{
            width: 100%;
            padding: 1.2em;
            display: flex;
            box-shadow: 0 1.25em 1.875em 0 rgba(0, 0, 0, 0.04),
            0 0.5em 0.75em 0 rgba(87, 74, 74, 0.08);
            flex-direction: column;
            gap: .4em;
            border-radius: 0.4em;

            h2{
                font-weight: 700;
            }

            img{
                align-self: end;
                margin: .8em 0;
            }
        }

        .blue{
            border-top: 0.3em solid $Blue;
            grid-row: 4/5;
            grid-column: 1/2;
        }

        .cyan{
            border-top: 0.3em solid $Cyan;
            grid-row: 1/2;
            grid-column: 1/2;
        }

        .red{
            border-top: 0.3em solid $Red;
            grid-row: 2/3;
            grid-column: 1/2;
        }

        .orange{
            border-top: 0.3em solid $Orange;
            grid-row: 3/4;
            grid-column: 1/2;
        }
    }
}

@media(min-width:66em){
    body{
        header{
            width: 45%;
            padding-top: 2.5em;
        }
    }

    main{
        margin-bottom: 2em;

        .cardContainer{
            width: 100%;
            padding: 10%;
            display: grid;
            gap: 2em;
            padding: 2em 8em;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(4,1fr);

            .blue{
                grid-column: 3/4;
                grid-row: 2/4;
            }

            .cyan{
                grid-column: 1/2;
                grid-row: 2/4;
            }

            .red{
                grid-column: 2/3;
                grid-row: 1/3;
            }

            .orange{
                grid-column: 2/3;
                grid-row: 3/5;
            }
        }
    }

}